polkit.addRule(function(action, subject) {
    if (action.id == "org.freedesktop.login1.reboot-multiple-sessions" && subject.user == "digsig"){
        return polkit.Result.YES;
    }
});
